.features .box {
  padding: 50px;
}
.features .box h2 {
  margin: 20px 0 20px 0;
}
.features .box p {
  word-spacing: 2px;
  transition: 0.5s;
}
.features .box i {
  font-size: 30px;
  margin-top: 20px;
  transition: 0.5s;
  opacity: 0;
}
.features .box:hover p {
  color: white;
}
.features .box:hover i {
  color: white;
  opacity: 1;
}

.grid1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 35px;
}

@media(max-width:750px){
  .content{
    display: grid;
    grid-template-rows: 1fr 1fr
  }
  .box1{
    display: grid;
    height: 180px;
    width: 200px;
    font-size: 2;
  }
  #card_desc{
    display: none;
  }
  #card_title{
    font-size: medium;
  }

  .grid1{
    grid-template-columns: repeat(2, 1fr);
  }
}
